:root {
  --main-color-hover: #2196f3;
  --main-color: #212121;
  --main-background-color: #2f303a;
  --contacts-color: #757575;
  --button-color: #f5f4fa;
  --text-roboto: "Roboto", sans-serif;
  --text-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--text-roboto);
  margin: 0;
}

.inline_block{
  display: inline-block;
}

header{
    display: flex;
    justify-content: space-between;
}

.nav_menu li, .contacts li{
  display: inline-block;
  padding: 16px;
}

.logo{
font-family: var(--text-raleway);
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--main-color-hover);
text-decoration: none;

  padding: 0 75px 0 215px;
}

.logo > span {
  color: var(--main-color);
}

.menu_a {
  font-weight:500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.menu_a:hover {
  color: var(--main-color-hover);
}

.contacts{
  padding-right: 215px;
}


.contacts_a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}

.contacts_a:hover {
  color: var(--main-color-hover);
}

a {
  text-decoration: none;
}

li {
  display: block;
  text-decoration: none;
}

.order_service {
  background-color: var(--main-background-color);
  text-align: center;
  padding: 200px 0;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn_order {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--main-color-hover);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.btn_order:hover {
  background-color: #188ce8;
}

.btn_order:focus {
  background-color: #188ae8ee;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding: 0;
  margin: 0;
}




.our_goals {
  display: none;
}

.our_goals_ul {
  margin: 94px 215px;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-between;
}

.our_goals_ul > li {
  display: inline-block;
  width: 23%;
}

.our_goals_ul h3 {
  padding: 0%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.our_goals_ul p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.work {  
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  margin: 50px 215px 94px 215px;
}


.comands {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  margin: 50px 215px 94px 215px;
}


.comands li {
  width: 270px;
  height: 368px;
  background-color: white;
  margin: 0 15px 0 15px;
}

.comands h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.comands p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}


.our_comands {
  background-color: #e5e5e5;
  padding: 94px 0;
}

footer {
  background-color: var(--main-background-color);
  padding: 60px 0;
}

.logo > .footer_sp {
  color: white;
}

.adresa {
  padding: 0 215px;
}

.adresa address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mail > a,
.phone > a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*CSS PORTFOLIO*/

.portfol {
  text-align: center;
  margin: 0;
  padding: 0;
}

.portfol > h1 {
  padding: 0;
  margin: 0;
}

.sort_btn {
  padding: 94px 0 50px 0;
  margin: 0;
}

.btn_p {
  font-family: var(--text-roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--button-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn_p:hover {
  background-color: var(--main-color-hover);
  color: #ffffff;
}

.list_work {  
  display: flex;
  flex-wrap: wrap;
  column-count: 3;
  padding-inline-start: 0;
  justify-content: space-between;
  padding: 0 215px 94px 215px;
}

.list_work h2 {
  font-family: var(--text-roboto);
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--main-color);
  display: inline-block;
  padding: 20px 0 0 24px;
}

.list_work p {
  font-family: var(--text-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  padding: 0 0 20px 24px;
  margin: 0;
}

.list_work li {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 15px 0 0 0; 
  text-align: left;
}
